{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  
      <div class="login-form">
          <h4>Cambiar contraseña</h4>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% comment %} <button class="primaryAction" type="submit">{% trans "Sign In" %}</button> {% endcomment %}
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Cambiar contraseña</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

          </form>
        </div>
{% endblock %}
