{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1 style="color: ghostwhite;">{% trans "Verify Your E-mail Address" %}</h1>
    <!-- <div style="background: gainsboro;"> -->


    <p style="color: ghostwhite;">Le hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el proceso de registro. Si no ve el correo electrónico de verificación en su bandeja de entrada principal, verifique su carpeta de correo no deseado. Comuníquese con nosotros si no recibe el correo electrónico de verificación en unos minutos.</p>

{% endblock %}
